sphinx>=2.0
sphinx-autodoc-typehints
sphinx_rtd_theme
matplotlib
numpy
scipy
pandas
plams@git+https://github.com/SCM-NV/PLAMS@master
AssertionLib@git+https://github.com/nlesc-nano/AssertionLib@master
